body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #D627CA;
  background: -webkit-linear-gradient(top left, #D627CA, #D98545);
  background: -moz-linear-gradient(top left, #D627CA, #D98545);
  background: linear-gradient(to bottom right, #D627CA, #D98545);
  font-family: Abel, Verdana, Consolas;
}
p {
  font-size: 5vh;
}
label {
  font-size: 4vh;
}
.mini-label {
  font-size: 1.6vh;
  color: #000000a0;
}
input {
  text-align: center;
  font-family: inherit;
  font-size: 3vh;
  padding: 6px;
  margin: 0.05vh;
  box-sizing: border-box;
  border: none;
  background-color: #0000001f;
}
.small {
  width: 10vh;
}
.medium {
  width: 20vh;
}
.big {
  width: 30.1vh;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00000080;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #00000080;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #00000080;
}
.updt {
  font-weight: bold;
  font-family: monospace;
  background: linear-gradient(to right, #000000ff, 90%, #00000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.center-y {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0.5vw;
  font-size: 1.6vh;
  color: #000000a0;
}
.footer a {
  font-weight: bold;
  color: inherit;
}
.footer button {
  font-family: inherit;
  font-size: 2vh;
  margin-bottom: 2vh;
  padding: 6px;
  box-sizing: border-box;
  border: none;
  background-color: #0000001f;
}
.footer button:hover {
  background-color: #0000003f;
  cursor: pointer;
}